body {
    background-size: cover;
    background-image: url("./img/background.PNG");
    
}

span {
    background-color: aliceblue;
}

#title {
    background-color: aliceblue;
    padding-bottom: 10px;
}

#goodGuys {
    border: 5px solid green;
    background-color: green;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    min-height: 230px;
}

#gokumui {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border: 6px solid green;
    background-color: green;
}

#gotenks {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border: 6px solid green;
    background-color: green;
}

#vegeta {
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border: 6px solid green;
    background-color: green;
}

#goodTeam {

}

#goodFighter {
    /* border: 5px solid green; */
    border-top: 5px solid black;
    background-color: green;
    justify-content: center;
    margin: 0 auto;
    /* padding-top: 50px; */
    min-height: 110px;
}

#badFighter {
    /* border: 5px solid red; */
    border-bottom: 5px solid black;
    background-color: red;
    justify-content: center;
    margin: 0 auto;
    /* padding-top: 50px; */
    min-height: 110px;
}

#gokublack, #broly, #frieza{
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    border: 6px solid red;
    background-color: red;
}

#badGuys {
    border: 5px solid red;
    background-color: red;
    justify-content: center;
    margin: 0 auto;
    min-height: 200px;
    /* padding-top: 50px; */
}

#deleteSpan {
    /* background-color: green;
    color: green; */
}

